*.o
.deps/
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/missing
/src/config.h*
/src/dblobd
Makefile
Makefile.in
stamp-h1
